In [1]:
!pip install pymp-pypi

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymp-pypi in /home/praveen/.local/lib/python3.6/site-packages (0.4.3)
WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [2]:
import numpy as np
import time
import pandas as pd
import glob
import pymp
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [3]:
dataset = pd.read_csv('6_lakh(head).csv')

In [4]:
X= dataset.iloc[:,0:6]
y= dataset.iloc[:,6]

In [5]:
X.head(10)

   FROM    TO  DURATION   mu       Sigma         psi
0   726  1609       126  1.0  126.000000    0.842105
1  4252   147        77  1.0  357.500000    2.652174
2  6996  4728       685  1.0  685.000000    0.705128
3   505  1870         1  1.0    1.000000  630.000000
4  3903  8342       149  1.0  149.000000    0.778523
5   522  1817        17  1.0   18.000000  563.000000
6  4543   942       483  1.0  192.333333   90.000000
7  9694  7554       218  1.0  218.000000    1.381579
8  2497  2194        15  1.0   16.000000    8.000000
9  1674  3638       683  1.0  683.000000    1.114504

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X=np.array(X.head(40000))
y=np.array(y.head(40000))
#X=np.array()
#y=np.array()
X = sc.fit_transform(X)

In [7]:
class KNN():

    def _init_(self):

        self.X_train = []
        self.y_train = []

    def euclidian(self,x1,x2):

        difference =  np.subtract(x1,x2)
        square_difference = np.power(difference,2)
        sum_square_difference = np.sum(square_difference)

        return sum_square_difference**(0.5)

    def fit(self,X,y):

        self.X_train = X
        self.y_train = y

    def predict(self,X_test,k,process):

        y_pred = pymp.shared.array(X_test.shape[0],dtype = np.int16)

        with pymp.Parallel(num_threads = process) as p:
            for i in p.range(X_test.shape[0]):

                distances = []

                for j in range(self.X_train.shape[0]):

                    distances.append(self.euclidian(X_train[j],X_test[i]))

                indeces = np.argsort(np.array(distances))
                
                sol = []

                for K in range(k):

                    sol.append(self.y_train[indeces[K]])

                y_pred[i] = np.bincount(sol).argmax()

            return y_pred

In [8]:
%%time
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.8,stratify=y)
model = KNN()
model.fit(X_train,y_train.reshape(y_train.shape[0],))
y_pred = model.predict(X_test,9,2)

CPU times: user 25min 15s, sys: 1.39 s, total: 25min 16s
Wall time: 25min 38s

In [9]:
%%time
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.8,stratify=y)
model = KNN()
model.fit(X_train,y_train.reshape(y_train.shape[0],))
y_pred = model.predict(X_test,9,4)

CPU times: user 16min 56s, sys: 272 ms, total: 16min 56s
Wall time: 16min 56s

In [10]:
%%time
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5,stratify=y)
model = KNN()
model.fit(X_train,y_train.reshape(y_train.shape[0],))
y_pred = model.predict(X_test,9,2)

CPU times: user 41min 4s, sys: 1.24 s, total: 41min 6s
Wall time: 41min 6s

In [11]:
%%time
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5,stratify=y)
model = KNN()
model.fit(X_train,y_train.reshape(y_train.shape[0],))
y_pred = model.predict(X_test,9,4)

CPU times: user 24min 31s, sys: 764 ms, total: 24min 32s
Wall time: 24min 49s